@model IEnumerable<MVC_2.Models.Movie>

@{ ViewBag.Title = "Movies By Year"; }

<h2>Movies Released in @ViewBag.Year</h2>

@if (Model.Any())
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfRelease)
        </th>       
    </tr>

    @foreach (var movie in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => movie.MovieName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => movie.DateOfRelease)
    </td>
</tr>}
</table> }
            else
            {
<p>No movies found for the selected year.</p>}

@Html.ActionLink("Back to Movies List", "Index")