@model IEnumerable<MVC_02.Models.Movie>

@{ ViewBag.Title = "MoviesByYear"; }

<h2>Movies Released in Year</h2>

@using (Html.BeginForm("MoviesByYear", "Movie", FormMethod.Get))
{
<p>
    @Html.TextBox("year", null, new { @class = "form-control", placeholder = "Enter year" })
    <input type="submit" value="Search" class="btn btn-primary" />
</p>}

@if (Model != null && Model.Any())
{
<table class="table">
    <tr>
        <th>
            Movie ID
        </th>
        <th>
            Movie Name
        </th>
        <th>
            Date of Release
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.Mid
    </td>
    <td>
        @item.MovieName
    </td>
    <td>
        @item.DateofRelease
    </td>
    <td>
        @Html.ActionLink("Movies By Year", "MoviesByYear", new { id = item.DateofRelease })
    </td>
</tr>}
</table> }
            else
            {
<p>No movies found for the specified year.</p>}